@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><i>Welcome</i></h1>
    <p>
        <a href="~/candidate">Candidate</a>
    </p>
    <p>
        <a href="~/location">Location</a>
    </p>
    <p>
        <a href="~/listings/5">Listings</a>
    </p>
</div>
